:root {
    --brand-color-50: #FFF4e9;
    --primary: #ff8b13;
    --white: #fff;
    --neutral-color: #e6e6e6;
    --gray: #f8f8f8;
    --dark-gray: #666;
}

body,
html {
    height: 100%;
    font-size: 14px;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--gray);
}

aside {
    background-color: var(--white);
    border-right: 1px solid var(--neutral-color);
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

aside .nav-pills{
    --bs-nav-pills-link-active-bg: var(--brand-color-50);
    --bs-nav-pills-link-active-color: var(--primary);
}

.link-body-emphasis {
    color: var(--dark-gray) !important;
}