:root{
    --white: #fff;
    --gray: #f8f8f8;
}

body, html {
    height: 100%;
    background-color: var(--gray);
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
/* main{
    background-color: var(--gray);
} */
section {
    background-color: var(--white);
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
