main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    /* Grid for cards */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

main .card:nth-child(2n-1):last-child {
    grid-column: 1 / -1;
}

main .card .cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .card .cardHeader .filter {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

main .card .cardHeader .filter button {
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--Neutral-Color-50, #E6E6E6);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    padding: 0.5rem;
}

main .card .cardHeader h1 {
    font-size: 1.25rem;
    margin: 0;
}

main .card .chartBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 0.75rem 0;
    width: 100%;
}

main .card .chartBox canvas {
    margin: 0 3rem;
}

main .card .chartBox ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

main .card .chartBox li {
    color: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

main .card .chartBox li .labelWrap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

main .card .chartBox .indicator {
    display: block;
    background-color: var(--dark-gray);
    border-radius: 4px;
    width: 12px;
    height: 12px;
}

main .card .chartBox .data {
    display: flex;
    gap: 1rem;
}

main .card .chartBox .color {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .card .chartBox .value {
    color: var(--black);
    font-weight: 600;
}

main #premium {
    flex-direction: column;
}

main .card #thirdChart {
    margin: 2rem 0;
}

main .card .lineChartData {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

main .card .lineChartData .dataColumn {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

main .card .lineChartData .dataColumn .data {
    border-left: 2px dotted var(--Neutral-300, #E3E8EF);
    padding-left: 0.75rem;
}

main .card .lineChartData .dataColumn .data .subHeading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

main .card .lineChartData .dataColumn .data h2 {
    font-weight: 700;
}

main .card .lineChartData .dataColumn .data span {
    background-color: var(--dark-gray);
    border-radius: 75%;
    display: block;
    height: 8px;
    width: 8px;
}

main .card .userBehaviorChartBox {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 2rem 0;
}

main .card .userBehaviorChartBox .step .label {
    font-size: 14px;
    margin-bottom: 1rem;
}

main .card .userBehaviorChartBox .step h2 {
    font-weight: 700;
}

main .card .userBehaviorChartBox .step span {
    font-size: 1rem;
    font-weight: 400;
}

main .card .otherBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .card .otherBox .delta {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-bottom: 0.5rem;
}

main .card .otherBox .delta .green {
    padding: 0.25rem 0.5rem;
    background-color: var(--light-green);
    border-radius: 0.25rem;
    color: var(--dark-green);
}

main .card .otherBox .detail {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--primary);
}